# .DS_Store
.DS_Store

# Environment files
.env
.env.*
!.env.example
!env.example
configs/.env

# Local Docker overrides
docker-compose.override.yml

# Node
node_modules

# npm
.npm-cache/*
npm-debug.log
yarn-error.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
.settings/
.history/
.vscode/
.cursorrules
.cursorignore
